<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWV8FcdNuTxKJs9l8MdpQgXEerVXhlJAw</string>
	<key>GCM_SENDER_ID</key>
	<string>390666646505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQuizzApp</string>
	<key>PROJECT_ID</key>
	<string>quizz-app-4a17d</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-app-4a17d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390666646505:ios:d83811dbab07b664bf1178</string>
</dict>
</plist>